<div class="container mainpage" id="configuration-page">
	<div class="content">
		<div class="row">
			<div class="span16">
				<h2>Global configuration</h2>
				<p>You can view the global configuration here. Values can either be overriden in individual servers or configured through <code>murmur.ini</code>.</p>
				<table class="zebra-striped" id='global-configuration'>
					<thead>
						<tr>
							<th>Option</th>
							<th>Value</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>loading...</td>
							<td>loading...</td>
							<td>loading...</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
