{% extends "uibase.html" %}

{% block title %}mmctl{% endblock %}

{% block head %}
{{super()}}
{% assets filter="cssmin", output='gen/mmctlui-all.css',
	'css/mmctl.css' %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% assets filter="jsmin", output='gen/mmctlui-all.min.js',
	'mmctlui/js/jquery/jquery.tablesorter.min.js',
	'mmctlui/js/jquery/jquery.scrollTo-1.4.2-min.js',
	'mmctlui/js/murmur-data.js',
	'mmctlui/js/BootstrapPager.js',
	'mmctlui/js/ServerConfiguration.js',
	'mmctlui/js/ui.js'
%}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
$(document).ready(function() {
	mmctlServer = new mmctlAPI(
		$SCRIPT_ROOT + '/api',
		function(jqXHR, textStatus, errorThrown) {
			createGlobalAlert(
				'error',
				$('<span><strong>XHR-error</strong>: </span>').
				append($('<span>').text(textStatus)).
				append(' (').
				append($('<span>').text(errorThrown)).
				append(')')
			);
		});

	init_ui();
});
</script>
{% endblock %}

{% block body %}
{% include 'topbar.html' %}
{% include 'serverlist.html' %}
{% include 'globalconfig.html' %}
{% include 'about.html' %}
{% include 'serverdetail.html' %}
{% include 'dialogs.html' %}
{% include 'acls.html' %}

<!-- footer gets attached to current page dynamically -->
{% include "footer.html" %}
{% endblock %}
