<div class="topbar">
	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">mmctl</a>
			<ul class="nav">
				<li><a href="#server-page">Servers</a></li>
				<li><a href="#configuration-page">Global Configuration</a></li>
				<li><a href="#about-page">About</a></li>
				<li id="server-detail-toplink"><a href="#server-detail-page">Server: <span data-config-link="registername">none</span></a></li>
				<li id="acls-toplink"><a href="#acls-page">Users and ACLs</a></li>
			</ul>
			<p class="pull-right">connected to Murmur <strong>{{version}} | <a href="#" id="logoutlink" title="Logout">Logout</a></strong></p>
		</div>
	</div>
</div>
<div id="global-alerts">
</div>
