<!DOCTYPE html>
<html>
<head>
<title>mmctl</title>
<link rel="stylesheet" type="text/css" href="http://github.com/mbr/draft-css/raw/master/simple-ssbw.css">
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.tablesorter.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/rpc.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/ui.js')}}"></script>

<style type="text/css">
      body {
        padding-top: 60px;
      }

      .mainpage {
      	  display: none;
	  }
</style>

<script type="text/javascript">
$(document).ready(function() {
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$API_CALL = $SCRIPT_ROOT + '/api/call/';

	currentMeta = new ICEObject('meta');

	init_ui();
});
</script>
</head>
<body>
   <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">mmctl</a>
          <ul class="nav">
            <li class="active"><a href="#">Servers</a></li>
            <li><a>Global Configuration</a></li>
            <li><a>About</a></li>
          </ul>
          <p class="pull-right">connected to </p>
        </div>
      </div>
    </div>
    <div class="container mainpage" id="server-page">
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <h1>Welcome to mmctl</h1>
          <p>mmctl is a web-based <a href="http://mumble.sf.net" title="Mumble homepage">Murmur</a> administration tool. Select a server below or create a new one to begin configuration.</p>
          <p><a class="btn primary large">Create new server &raquo;</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
          <div class="span16">
            <h2>Server list</h2>
            <table class="zebra-striped" id='server-list'>
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Address</th>
						<th>Status</th>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>loading...</td></tr>
				</tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

<!-- footer gets attached to current page dynamically -->
<footer>
  <p>&copy; <a href="https://mbr.github.com" title="Marc's github page">Marc Brinkmann 2011</a></p>
</footer>
</body>
</html>
