<!DOCTYPE html>
<html>
<head>
<title>{% block title %}mmctl{% endblock %}</title>
{% assets filter="cssmin", output='gen/all.css',
	'css/bootstrap.min.css',
	'css/mmctl.css' %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% assets filter="jsmin", output='gen/all.min.js',
	'js/jquery/jquery-1.7.min.js',
	'js/jquery/jquery.tablesorter.min.js',
	'js/jquery/jquery.scrollTo-1.4.2-min.js',
	'js/jquery/jquery.cookie.js',
	'js/bootstrap/bootstrap-twipsy.js',
	'js/bootstrap/bootstrap-alerts.js',
	'js/bootstrap/bootstrap-popover.js',
	'js/bootstrap/bootstrap-modal.js',
	'js/bootstrap/bootstrap-tabs.js',
	'js/rpc.js',
	'js/murmur-data.js',
	'js/ui.js'
%}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
$(document).ready(function() {
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	mmctlServer = new mmctlAPI(
		$SCRIPT_ROOT + '/api',
		function(jqXHR, textStatus, errorThrown) {
			createGlobalAlert(
				'error',
				$('<span><strong>XHR-error</strong>: </span>').
				append($('<span>').text(textStatus)).
				append(' (').
				append($('<span>').text(errorThrown)).
				append(')')
			);
		});

	init_ui();
});
</script>

</head>
<body>
{% include 'topbar.html' %}
{% include 'serverlist.html' %}
{% include 'globalconfig.html' %}
{% include 'about.html' %}
{% include 'serverdetail.html' %}
{% include 'dialogs.html' %}

<!-- footer gets attached to current page dynamically -->
<footer>
  <p>&copy; <a href="https://github.com/mbr" title="Marc's github page">Marc Brinkmann 2011</a></p>
</footer>
</body>
</html>
