<!DOCTYPE html>
<html>
<head>
<title>mmctl</title>
<link rel="stylesheet" type="text/css" href="http://github.com/mbr/draft-css/raw/master/simple-ssbw.css">
<link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.tablesorter.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.scrollTo-1.4.2-min.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/jquery.cookie.js')}}"></script>

<script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap-alerts.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap-popover.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/bootstrap-modal.js')}}"></script>

<script type="text/javascript" src="{{url_for('.static', filename='js/rpc.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/murmur-data.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='js/ui.js')}}"></script>

<style type="text/css">
body { padding-top: 60px; }
.mainpage { display: none; }
.clickable { cursor: pointer; }
td.small { width: 1em; }
td.medium { width: 14em; }
td.large { width: 30em; }
td button { margin: 0em 0.5em; }
td.running { width: 16em; }
.topbar p { color: gray; }
.unnamed { font-style: italic; }
</style>

<script type="text/javascript">
$(document).ready(function() {
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	mmctlServer = new mmctlAPI(
		$SCRIPT_ROOT + '/api',
		function(jqXHR, textStatus, errorThrown) {
			createGlobalAlert(
				'error',
				$('<span><strong>XHR-error</strong>: </span>').
				append($('<span>').text(textStatus)).
				append(' (').
				append($('<span>').text(errorThrown)).
				append(')')
			);
		});

	init_ui();
});
</script>
</head>
<body>
   <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">mmctl</a>
          <ul class="nav">
            <li><a href="#server-page">Servers</a></li>
            <li><a href="#configuration-page">Global Configuration</a></li>
            <li><a href="#about-page">About</a></li>
          </ul>
          <p class="pull-right">connected to Murmur <strong>{{version}}</strong></p>
        </div>
      </div>
    </div>
    <div id="global-alerts">
    </div>

<!-- server list -->
    <div class="container mainpage" id="server-page">
      <div class="content">
        <div class="hero-unit">
          <h1>Welcome to mmctl</h1>
          <p>mmctl is a web-based <a href="http://mumble.sf.net" title="Mumble homepage">Murmur</a> administration tool. Select a server below or create a new one to begin configuration.</p>
          <p><a class="create-server-button btn primary large">Create server now</a></p>
        </div>

        <div class="row">
          <div class="span16">
            <h2>Server list</h2>
            <div class="well">
				<input class="btn" type="button" id="refresh-server-list-button" value="Refresh"/>
				<input class="btn primary create-server-button" type="button" value="Create server"/>
			</div>
            <table class="zebra-striped" id='server-list'>
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Address</th>
						<th>Status</th>
						<th>Users</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr><td>loading...</td></tr>
				</tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

<!-- global configuration -->
    <div class="container mainpage" id="configuration-page">
      <div class="content">
        <div class="row">
          <div class="span16">
            <h2>Global configuration</h2>
            <p>You can view the global configuration here. Values can either be overriden in individual servers or configured through <code>murmur.ini</code>.</p>

            <table class="zebra-striped" id='global-configuration'>
				<thead>
					<tr>
						<th>Option</th>
						<th>Value</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>loading...</td>
						<td>loading...</td>
						<td>loading...</td>
					</tr>
				</tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

<!-- about page -->
    <div class="container mainpage" id="about-page">
      <div class="content">
        <div class="hero-unit">
          <h1>About mmctl</h1>
          <blockquote>
			<p>"Give a man a fire and he's warm for a day, but set fire to him and he's warm for the rest of his life."</p>
			<small><a href="http://en.wikipedia.org/wiki/Terry_Pratchett" title="Terry Pratchett's Wikipedia page.">Terry Pratchett</a>, <a href="http://en.wikipedia.org/wiki/Jingo_(novel)" title="Jingo, in Wikipedia">Jingo</a></small>
          </blockquote>

          <p>The first version of <strong>mmctl</strong> was written when I wanted to play a game with a friend and could not properly configure murmur fast enough. One hour later he had leave and I promptly started scratching the newfound itch.</p>
		  <p>mmctl is available on <a href="https://github.com/mbr/mmctl" title="mmctl's GitHub page">GitHub</a>. Feel free to send me feedback, suggestions or anything else.</p>
		  <p>Other than numerous jQuery plugins, mmctl uses <a href="http://twitter.github.com/bootstrap/" title="Bootstrap, from Twitter">Bootstrap</a>, which I think is the best thing <a href="http://twitter.com" title="Twitter">Twitter</a> has ever given me.
        </div>

      </div>
    </div>

<!-- edit server page -->
    <div class="container mainpage" id="server-detail-page">
      <div class="content">
        <div class="row">
          <div class="span16">
            <h2 id="server-detail-title">Server not loaded</h2>
            <p id="server-detail-status">has been running for ???</p>
          </div>
        <div class="row">
          <div class="span8">
            <h3>Users and Groups</h3>
            <p>foo bar baz</p>
          </div>
          <div class="span8">
            <h3>Log</h3>
            <div id='server-log-pagination'>
			</div>
            <table class="zebra-striped" id='server-log'>
				<thead>
					<tr>
						<th>Time</th>
						<th>Entry</th>
					</tr>
				</thead>
				<tbody>
					<tr><td>loading...</td></tr>
				</tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

<!-- footer gets attached to current page dynamically -->
<footer>
  <p>&copy; <a href="https://github.com/mbr" title="Marc's github page">Marc Brinkmann 2011</a></p>
</footer>

<!-- dialogs -->
<div id="confirm-dialog" class="modal hide fade">
<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>missing title</h3>
</div>
<div class="modal-body">
  <p id="delete-confirm-dialog-message">missing text</p>
</div>
<div class="modal-footer">
  <a id="confirm-dialog-confirm" href="#" class="btn primary danger">missing action</a>
  <a id="confirm-dialog-cancel" href="#" class="btn secondary">Cancel</a>
</div>
</div>

</body>
</html>
